{%- if not messages %}
    {{- raise_exception('No messages provided.') }}
{%- endif %}
{%- for message in messages %}
    {{- '<|im_start|>' + message.role + '\n' }}
    {%- if message.content is string %}
        {{- message.content }}
    {%- elif message.content is iterable and message.content is not mapping %}
        {%- for item in message.content %}
            {%- if 'image' in item or 'image_url' in item or item.type in ['image', 'image_url'] %}
                {{- '<|vision_start|><|image_pad|><|vision_end|>' }}
            {%- elif 'video' in item or 'video_url' in item or item.type in ['video', 'video_url'] %}
                {{- '<|vision_start|><|video_pad|><|vision_end|>' }}
            {%- elif 'audio' in item or 'audio_url' in item or 'input_audio' in item or item.type in ['audio', 'audio_url', 'input_audio'] %}
                {{- '<|audio_start|><|audio_pad|><|audio_end|>' }}
            {%- elif 'text' in item or item.type == 'text' %}
                {{- item.text }}
            {%- else %}
                {{- raise_exception('Unexpected item type in content.') }}
            {%- endif %}
        {%- endfor %}
    {%- elif message.content is not none and message.content is defined %}
        {{- raise_exception('Unexpected content type.') }}
    {%- endif %}
    {{- '<|im_end|>\n' }}
{%- endfor %}
